.track-distance {
	background: url('../images/race-track-positions.png') no-repeat center center;
	background-size:380px auto;
	font-size:3em;
	padding: 65px 0 80px;
	color:#787878;
	.smaller {
		font-size:0.4em;
	}
}

.start-stop-button {
	margin:20px 0 0;
	width:280px;
	height:50px;
	border-radius:3px;
	background:#fff;
	border:none;
	font-size: 1.2em;
	cursor:pointer;
	&:hover {
		opacity:0.7;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

.time-field {
	margin:20px auto 0;
	width:280px;
	height:10px;
	border-radius:3px;
	display:block;
	padding:15px 0;
	text-align:center;
	font-size:1.2em;
	opacity:0.7;
}

.start {
	background: url('../images/start-field-bg.png') no-repeat 8px 12px #fff;
	background-size:15%;
}

.finish {
	background: url('../images/finish-field-bg.png') no-repeat 8px 12px #fff;
	background-size:17%;
}

.reset-time {
	margin:30px 0 0;
	a {
		color:#fff;
		font-size:1.2em;
		text-decoration:none;
		opacity:0.7;
		&:hover {
			text-decoration:underline;
			opacity:1;
		}
		&:active {
			position:relative;
			top:1px;
		}
	}
}